<div class="search-form" id="search-stuff">
  <%= form_tag "/#search-stuff", method: :get do %>
  <div class="search-form-components">
    <%= label_tag :query do %>
    <i class="fas fa-search"></i>
    <% end %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "search by category"
    %>
    </div>
  <% end %>
</div>
