<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-placeholder.jpg", height: 50 %>
  <% end %>

  <div class="navbar-wagon-right hidden-xs hidden-sm navbar-fixed-top">
    <%# if user_signed_in? %>

    <p><%= link_to 'Add joke', new_joke_path, class: 'btn btn-primary' %></p>
  <!-- <div class="search">
    <%#= render 'form_search' %>
  </div> -->
  <%# else %>
      <!-- Login link (when logged out) -->
      <%#= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%# end %>
</div>
</div>


