.home-banner {
  background: url('smile.jpg') no-repeat left center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  margin: auto;
  h1 {
    margin: 0;
    padding-top: 150px;
    font-size: 80px;
    font-weight: bolder;
    color: white;
  }
}

.alert-dismissible {
  position: fixed;
  width: 100vw;
  margin-top: 70px;
}
