.form-container {
  width: 315px;
  margin: 0 auto;
}

#joke_title, #joke_description, #joke_category, #user_username, #user_email, #user_password, #user_password_confirmation {
  background-color: #F4F4F4;
  border: none;
  box-shadow: none;
}

.joke_title, .joke_description, .joke_category, .input-box, .user_email, .user_password, .user_password_confirmation, .user_username{
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.pen-icon {
  background-image: image-url('icons/edit.svg');
}
.user-icon {
  background-image: image-url('icons/user.svg');
}
.lock-icon {
  background-image: image-url('icons/padlock.svg');
}
.envelope-icon {
  background-image: image-url('icons/envelope.svg');
}

.icons {
  width: 17px;
  height: 16px;
  background-size: cover;
  padding-right: 10px;
  font-size: 1px;
}

.form-button {
  width: 315px;
  border-radius: 27.5px;
  height: 55px;
  margin: 50px 0;
}
