<div class="page-container">
  <h1>My Jokes Wallet</h1>

  <div class="cards-container">

    <div class="outer-box">
      <div class="row">
        <%= render "components/boughtCards" %>
      </div>
    </div>
  </div>
</div>
