// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

abbr {
  display: none;
}

.container {
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  text-align: center;
  position: relative;
}

.main-form-container {
  width: 500px;
  margin: auto;
  margin-top: 90px;
  text-align: center;
  margin-bottom: 100px;
  h1, h2 {
    margin-bottom: 50px;
  }
}

.page-container {
  margin-top: 90px;
  margin-bottom: 100px;
}
