

<div class="home-banner text-center">
  <h1>Jokes Market</h1>
</div>

<div class="container">

<div class="outer-box">
  <div class="row">
    <%= render "components/cards" %>
  </div>
</div>
</div>
