<div class="home-banner text-center">
  <h1>Just Smile</h1>
</div>
<%= render "components/cards" %>


<!-- <p><%#= link_to "buy a joke", admin_joke_create_bought_joke_path(:id), class: 'btn btn-primary' %></p> -->


