<div class="new-edit-container">
  <h1>Create new joke</h1>
  <%= render 'layouts/form' %>
    <div class="arrow-back">
    <%= link_to root_path do %>
      <i class="fas fa-arrow-left fa-2x" style="color: black; margin-top: 30px;"></i>
    <% end %>
  </div>
</div>
